---
---

@import "{{ site.theme }}";

.page-header,
.project-name {
  position: relative !important;
}

.page-header {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-thumbnail {
  position: relative;
  max-height: 500px;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 1rem;
}
.project-thumbnail {
  width: 100%;
}

.main-content-wrap {
  max-width: 680px;
  margin: 0 auto;
}

@media screen and (max-with: 680) {
  .page-thumbnail {
    margin: 1rem 1rem 0 1rem;
  }
}
