---
---

@import "{{ site.theme }}";

.page-header,
.project-name {
    position: relative !important;
}

.page-header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
